
@font-face {
	font-family: "Catamaran";
	src: url("../fonts/Catamaran-Regular.ttf");
}
@font-face {
	font-family: "Catamaran-Medium";
	src: url("../fonts/Catamaran-Medium.ttf");
}
@font-face {
	font-family: "Catamaran-Black";
	src: url("../fonts/Catamaran-Black.ttf");
}
@font-face {
	font-family: "Catamaran-Lite";
	src: url("../fonts/Catamaran-Light.ttf");
}