$color_1: #333333;
$color_2: #ffffff;
$color_3: white;
$color_4: #00a8b2;
$font_family_1: 'Catamaran-Medium', sans-serif;
$font_family_2: "Catamaran-Medium", sans-serif;
$font_family_3: "Catamaran", sans-serif;
$font_family_4: "Catamaran-Lite", sans-serif;
$font_family_5: "Catamaran-Black", sans-serif;
$font_family_6: 'Catamaran-Black', sans-serif;
$font_family_7: 'Catamaran-Lite', sans-serif;
$font_family_8: 'Catamaran', sans-serif;
$background_color_1: #00e8ed;
$background_color_2: #333333;
$background_color_3: #ffffff;
$background_color_4: #ff6600;